@font-face {
    font-family: facebookfont;
    src: url("./fonts/SEGOEUI.TTF");
}

*,
::after,
::before {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: facebookfont;
    background-color: rgb(44, 43, 43);
}

html {
    scroll-behavior: smooth;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

::placeholder {
    color: rgba(255, 255, 255, 0.937);
}

#header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0px auto;
    height: 56px;
    align-items: center;
    background: rgb(36, 37, 38);
    padding: 0px 9px;
    position: fixed;
    top: 0px;
    left: 0px;
}

.search_area {
    display: flex;
    align-items: center;
}

.logo {
    margin-right: 10px;
    width: 38px;
    height: 38px;
}

.logo a {}

.logo a img {
    max-width: 100%;
}

.search_box {
    display: flex;
    align-items: center;
    background: rgba(255, 255, 255, 0.22);
    border-radius: 25px;
    padding: 4px;
}

.search_box input {
    border: none;
    outline: none;
    background: unset;
    color: rgba(255, 255, 255, 0.953);
    font-size: 14px;
    padding: 3px;
    font-weight: 500;
}

.search_box span {
    font-size: 26px;
    color: rgb(229, 229, 229);
}

nav ul {
    display: flex;
    align-items: center;
}

nav ul li {
    padding: 8px 23px;
    margin: 0px 6px;
}

nav ul li a {
    color: rgb(229, 229, 229);
}

nav ul li a span {
    font-size: 29px !important;
}

.profile_area {
    display: flex;
    align-items: center;
}

.profile_container {
    display: flex;
    align-items: center;
    padding: 3px 5px 3px 3px;
    transition: all 0.2s ease 0s;
}

.profile_container:hover {
    background: rgba(252, 252, 252, 0.18);
    border-radius: 25px;
    cursor: pointer;
}

.profile_container h4 {
    margin-left: 5px;
    color: rgb(229, 229, 229);
    font-weight: 600;
    font-style: normal;
    font-size: 15px;
}

.profile_logo {
    width: 28px;
    height: 28px;
}

.profile_logo img {
    max-width: 100%;
    border-radius: 50%;
}

.profile_area ul {
    display: flex;
    align-items: center;
}

.profile_area ul li {
    padding: 9px;
    margin: 0px 6px;
}

.profile_area ul li a {
    color: rgb(229, 229, 229);
}

.heder_right_icon {
    background: rgba(177, 177, 177, 0.54);
    border: none;
    outline: none;
    width: 33px;
    height: 33px;
    border-radius: 50%;
    font-size: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(255, 255, 255, 0.88);
}

.profile_area ul li a i {
    font-size: 25px;
    background-color: rgba(148, 148, 148, 0.51);
    padding: 6px;
    border-radius: 50%;
}

.profile_area ul li a i:hover {
    background: rgba(156, 156, 156, 0.855);
}

.profile_area ul li a span {
    font-size: 26px;
    background: rgba(148, 148, 148, 0.51);
    padding: 5px;
    border-radius: 50%;
}

.profile_area ul li a span:hover {
    background: rgba(156, 156, 156, 0.88);
}

main {
    max-width: 1460px;
    margin: 0px auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: white;
}

.left_aside {
    background-color: rgb(44, 43, 43);
    flex-basis: 330px;
    height: calc(100vh);
    padding: 75px 15px 0px;
    overflow: auto;
}

.left_menu {
    width: 100%;
}

.left_menu li {
    display: flex;
    align-items: center;
    margin: 10px 0px;
    padding: 5px 3px;
    border-radius: 6px;
    transition: all 0.2s ease 0s;
}

.left_menu li:hover {
    background-color: rgba(126, 126, 126, 0.686);
    cursor: pointer;
}

.left_menu li img {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    margin-right: 8px;
}

.see_icon {
    padding: 2px;
    background: rgba(192, 192, 192, 0.57);
    display: flex;
    align-items: center;
    border-radius: 50%;
    margin-right: 8px;
}

.left_menu li:first-child img {}

.separate_div {
    height: 1px;
    background-color: rgba(192, 192, 192, 0.863);
}

.shortcut_title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 12px 0px;
}

.shortcut_title button {
    display: none;
    font-weight: 500;
    color: rgb(18, 18, 255);
    border: none;
    outline: none;
    padding: 3px;
    border-radius: 4px;
    background-color: unset;
}

button:hover {
    background: rgba(255, 255, 255, 0.53);
}

.shortcut_title h2 {
    font-size: 16px;
    font-weight: 600;
}

.shortcut_title:hover button {
    cursor: pointer;
    display: block;
}

.left_menu li .left_bottom_img {
    border-radius: 5px;
}

.footer_area {
    margin-bottom: 8px;
}

.footer_area a {
    color: rgba(255, 255, 255, 0.824);
    font-size: 12px;
    font-weight: 500;
}

.footer_area a span {
    transform: translateY(8px);
}

#middle_section {
    flex-grow: 1;
    height: calc(100vh);
    padding: 75px 15px 0px;
    background-color: rgb(44, 43, 43);
    overflow: auto;
}

.own_post_area {
    border-radius: 6px;
    background: rgba(70, 70, 70, 0.7);
    padding: 15px 15px 5px;
    max-width: 650px;
    margin: 0 auto;
}

.own_post_top {
    padding: 8px 0px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.45);
    display: flex;
    align-items: center;
}

.own_logo {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.own_logo img {
    max-width: 100%;
    border-radius: 50%;
}

.input_box {
    width: 80%;
    background-color: rgba(192, 192, 192, 0.25);
    border-radius: 25px;
    transition: all 0.3s ease 0s;
}

.input_box:hover {
    background-color: rgba(192, 192, 192, 0.36);
}

.input_box input {
    background: unset;
    border: none;
    outline: none;
    padding: 10px 13px;
    width: 100%;
    font-size: 15px;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.925);
}

.own_post_bottom {
    padding: 18px 0px;
}

.own_post_bottom ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.own_post_bottom ul li {
    display: flex;
    align-items: center;
    font-weight: 600;
    padding: 5px 6px;
    border-radius: 8px;
    transition: all 0.3s ease 0s;
}

.own_post_bottom ul li:hover {
    background: rgb(78, 78, 78);
    cursor: pointer;
}

.own_post_bottom ul li:nth-child(1) span {
    color: rgb(244, 85, 111);
}

.own_post_bottom ul li:nth-child(2) span {
    color: rgb(88, 196, 114);
}

.own_post_bottom ul li:nth-child(3) span {
    color: rgb(248, 192, 62);
}

.own_post_bottom ul span {
    font-size: 30px;
    margin-right: 5px;
}

.room_area {
    margin: 15px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgba(128, 128, 128, 0.35);
    padding: 15px;
    border-radius: 6px;
    max-width: 650px;
}

.room_area button {
    display: flex;
    background: rgb(24, 25, 26);
    outline: none;
    padding: 10px 11px;
    border: 2px solid rgb(93, 121, 226);
    border-radius: 25px;
    color: rgb(69, 153, 255);
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.room_area button:hover {
    background-color: rgba(192, 192, 192, 0.082);
    cursor: pointer;
}

.room_area button img {
    width: 25px;
    margin-right: 8px;
}

.room_area ul {
    display: flex;
    align-items: center;
}

.room_area ul li {
    width: 40px;
    height: 40px;
    margin: 0px 1px;
    display: flex;
    align-items: center;

}

.room_area ul li img {
    border-radius: 50%;
    max-width: 100%;
}

.position_style {}

.position_style span {
    width: 45px;
    height: 45px;
    background: rgb(129, 126, 122);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;

}

.single_post {

    background: rgba(60, 60, 60, 0.9);
    border-radius: 6px;
    padding-bottom: 6px;
    max-width: 650px;
    margin: 0 auto 13px;
}

.poster_profile_box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px;
}

.poster_left_area {
    display: flex;
    align-items: center;
}

.poster_logo {
    width: 45px;
    height: 45px;
    margin-right: 10px;
}

.poster_logo img {
    max-width: 100%;
    border-radius: 50%;
}

.poster_name {}

.poster_name p {}

.poster_name p a {
    color: white;
}

.poster_date {
    display: flex;
    align-items: center;
    font-size: 13px;
}

.poster_date span {
    font-size: 15px;
    /* justify-content: center; */
    /* display: flex; */
    /* align-items: center; */
}

.poster_right_icon {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.3s;
}

.poster_right_icon:hover {
    background: #808080d1;

}

.poster_right_icon span {}

.post_contents {
    max-width: 100%;
}

.post_text {
    margin: 10px 0;
}

.post_text h3 {
    padding: 0 5px;
    font-size: 14px;
    color: #ffffffe8;
}

.post_contents img {
    width: 100%;
}

.reaction {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 8px;
}

.likes_div {
    display: flex;
    align-items: center;
}

.likes_div p {}

.likes_logo {
    display: flex;
    width: 20px;
    height: 20px;
    align-items: center;
    margin-right: 26px;
}

.likes_logo img:first-child {
    transform: translateX(3px);
}

.likes_logo img {
    max-width: 100%;
}

.comment_shair {}

.comment_shair a {
    color: #ffffffe8;
}

.comment_shair a:first-child {
    margin-right: 10px;
}

.comment_shair_separetor {
    margin: 10px auto;
    height: 1px;
    background-color: gray;
    max-width: 98%;
}

.actions {
    padding: 0 26px;
}

.actions ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.actions ul li {
    padding: 6px 18px;
    display: flex;
    align-items: center;
    cursor: pointer;
    border-radius: 6px;
    transition: 0.3s;

}

.actions ul li:hover {
    background-color: #545353;
}

.actions ul li img {
    margin-right: 5px;
}

.right_aside {
    flex-basis: 330px;
    background-color: rgb(44, 43, 43);
    height: calc(100vh);
    padding: 75px 15px 0px;
    overflow: auto;
}

.birthday_box {
    padding: 15px;
    background: rgba(75, 75, 75, 0.7);
    border-radius: 5px;
}

.left_birthday {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.left_birthday h4 {
    display: flex;
    align-items: center;
}

.left_birthday img {
    margin-right: 8px;
}

.right_birthday {
    padding: 6px;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    border: none;
    outline: none;
    transition: all 0.3s ease 0s;
    background-color: unset;
    color: white;
}

.right_birthday:hover {
    cursor: pointer;
    background: rgba(192, 192, 192, 0.35);
}

.right_birthday i {}

.bottom_birthday {
    margin: 10px 0px;
}

.bottom_birthday a {
    color: white;
}

.create_grupe {
    width: 30px;
    height: 30px;
    background: rgba(112, 107, 107, 0.77);
    display: flex;
    align-items: center;
    border-radius: 50%;
    justify-content: center;
    margin-right: 8px;
}

.create_grupe span {}

::-webkit-scrollbar {
    width: 8px;
    padding-top: 70px;
}

::-webkit-scrollbar-track {
    background: unset;
}

::-webkit-scrollbar-track:hover {
    background: rgba(105, 105, 105, 0.74);
}

::-webkit-scrollbar-thumb {
    background: rgb(158, 158, 158);
    border-radius: 5px;
    display: none;
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(177, 177, 177);
}

.left_aside:hover::-webkit-scrollbar-thumb {
    display: block;
}

.right_aside:hover::-webkit-scrollbar-thumb {
    display: block;
}

.right_aside_ul {}

.iconss {
    display: flex;
    align-items: center;
    position: relative;

}

.iconss::after {
    content: '';
    position: absolute;
    width: 7px;
    height: 7px;
    background-color: #12e112e0;
    border-radius: 50%;
    bottom: 4px;
    right: 4px;

}

.iconss img {}